.alert-message {
	margin: 0 auto; 
	min-width: 230px;
/*
	height: 4rem;
	background: linear-gradient(to right, #d69480, #d84315);
	border-radius: 10px;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 1.25em;
	box-shadow: 0px 1px 1px black;
*/
}

.App-container {
	position: absolute;
	top: 105px;
	bottom: 45px;
	width: 100%;
	background: #e0f7fa;
	display: flex;
	align-content: center;
	justify-content: center;
}

.App-footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
  background: linear-gradient(to right, #a9a9a9, #777);
  height: 40px;
	border-radius: 0 0 5px 5px; 
}

.App-header {
	position: absolute;
	top: 0px;
	width: 100%;
  background: linear-gradient(to right, #a9a9a9, #777);
  height: 100px;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	border-radius: 5px 5px 0 0; 
}

button {
	border: none;
	box-shadow: 0px 1px 1px black;
}

button:focus {
	outline: 0;
}

button:active {
/*	background: linear-gradient(to left, rgb(214, 162, 146), rgb(216, 67, 21)) !important;*/
	box-shadow: 0px 0.5px 1px black;
	transform: translateY(3px) !important;
	background: #cf5a36 !important;
}

.inner-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row nowrap;
	width: 18rem;	
	height: 100%;
	text-align: center;
}

.inner-wrapper.alert {
/*	height: 150px;*/
}

.inner-wrapper.progress {
/*	height: 150px;*/
}

.inner-wrapper.play-button {
/*	margin-top: -3em;*/
/*	height: 150px;*/
}

.outer-wrapper {	
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	background: #e0f7fa;
	flex-direction: column;
  align-items: center;
}