.App-container {
	position: absolute;
	top: 105px;
	bottom: 45px;
	width: 100%;
	background: linear-gradient(to right, #aed6fb, #90CAFF);
	display: flex;
	align-content: center;
	justify-content: center;
}

.App-footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
  background: linear-gradient(to right, #a9a9a9, #777);
  height: 40px;
	border-radius: 0 0 5px 5px; 
}

.App-header {
	position: absolute;
	top: 0px;
	width: 100%;
  background: linear-gradient(to right, #a9a9a9, #777);
  height: 100px;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	border-radius: 5px 5px 0 0; 
}
